:global body {
  scroll-behavior: smooth !important;

}
.afore {
  position: relative;
  height: auto;
  overflow: auto;
  background: #FFF;
  padding-bottom: 2em;
  scroll-behavior: smooth;

}
.hasView {
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 3em 0 1em 0;
  text-align: center;
  h1 {
    font-size: calc(16px + 1.2vw);
    margin: 0;
  }
  h2 {
    font-size: calc(14px + .8vw);
  }
}

.menuContainer {
  position: relative;
  margin: 5em auto 3em auto;
  width: 100vw;
  height: 56.25vw;
  max-width: 1000px;
  max-height: 562.50px;
  z-index: 98;
  & > div {
    position: absolute;
    }
  }
  @media (min-width:320px) and (max-width:414px){
    & > div button{
    display: none;
  }
  button {
    border: 0;
    border-radius: 5px !important;
    padding: .5em;
    text-align: center;
    color: #FFF;
  }
}

.menuCircle {
  position: absolute;
  width: 30%;
  height: auto;
  top: 20%;
  left: 35%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.menuOptionArrow {
  position: absolute;
  width: 6%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.menuOptionText {
  position: absolute;
  width: 28%;
  margin: -1% 0 0 -11%;
  font-size: calc(5px + .8vw);
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
  & > i {
    text-align: center;
    font-size: 1.5em;
    display: block !important;
    padding: 0 .5vw;
    text-decoration: none !important;
  }
  & > div {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.intro {
  padding: 2em 1em;
  font-size: 1.4em;
  font-weight: bold;
  max-width: 1400px;
  text-align: center;
  margin: 2em auto 0 auto;
  border: 1px solid #ccc;
  border-radius: 1em;
  color: #FFF;
  @media (min-width:320px) and (max-width:667px){
    font-size: 16px;
    padding: 1em;
    width: 90%;
  }
}

.content {
  padding: 3em 1em;
  margin: 0 auto;
  max-width: 1400px;
  font-size: 1.3em;
  h1 {
    margin: 0;
    padding: 1em 0;
  }
  h2 {
    padding: .3em 0;
    margin-bottom: 1.2em;
    display: inline-block;
    @media (min-width:320px) and (max-width:667px){
      font-size: 24px;
    }
  }
  p {
    font-weight: bold;
    text-align: justify !important;
    & > ul {
      padding: 1em 2em;
    }
    @media (min-width:320px) and (max-width:667px){
      font-size: 16px;
    }
  }
  & > ul {
    padding: 1em 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  @media (min-width:320px) and (max-width:667px){
    a{
      font-size: 16px;
    }
  }
}
.contentHeader {
  width: 100%;
  i {
    font-size: 2em;
    padding: .5em;
    color: red;
  }
}

.sectionContent {
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5em 0;
  h1 {
    margin: 0;
    padding: 1em 0;
  }
  h2 {
    padding: .3em 0;
    margin-bottom: 1.2em;
    display: inline-block;
  }
  p {
    font-weight: bold;
    text-align: justify !important;
    & > ul {
      padding: 1em 2em;
    }
  }
  & > div:last-child {
    padding: 0em 1em;
    margin: 0 auto;
    font-size: 1.3em;
    max-width: 1450px;
    & > ul {
      padding: 1em 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
  }
  @media (min-width:320px) and (max-width:667px){
    h3{
      font-size: 24px;
    }
    p{
      font-size: 16px;
    }
    a{
      font-size: 16px;
    }
  }
}

.arrow {
  position: fixed !important;
  bottom: 0em;
  left: 50%;
  margin-left: -1em;
  width: 2em;
  height: 2em;
  font-size: 2.5em;
  text-align: center;
  i {
    color: #FFF;
    background: #eee;
    padding: .3em .35em;
    border-radius: 2em;
  }
}
