.calculadora {
  background: #FFF;
  @media (min-width:320px) and (max-width:736px){
    h3{
      font-size: 18px;
      padding: 0 20px;
    }
  }
}
.header {
  padding: 5em 2em 6em 0em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFF;
  position: relative;
  & > div {
    position: relative;
    padding: 1em;
    background: rgba(255, 255, 255, 0.7);
    max-width: 55em;
    width: 100%;
    margin: 0 auto;
    & > div {
      padding: 3em 2em;
      border: 1px solid;
    }
  }
  h1 {
    font-size: calc(24px + 0.6vw);
    margin: 0;
  }
  h2 {
    font-size: calc(20px + 0.5vw);
  }
  p {
    padding: 3em 1em;
    font-size: 1.4em;
    font-weight: bold;
  }
  @media (min-width:320px) and (max-width:736px){
    padding: 0!important;
    h1{
      font-size: 30px!important;
    }
    h2{
      font-size: 20px!important;
    }
    p{
      font-size: 18px!important;
    }
  }
}

.hcloud1 {
  width: 9%;
  position: absolute;
  top: 14%;
  left: 10%;
  transform: scaleX(-1);
}
.hcloud2 {
  width: 9%;
  position: absolute;
  top: 28%;
  left: 19%;
}
.hcloud3 {
  width: 9%;
  position: absolute;
  top: 30%;
  left: 73%;
  transform: scaleX(-1);
}
.hcloud4 {
  width: 9%;
  position: absolute;
  top: 40%;
  right: 2%;
}
.hcloud5 {
  width: 9%;
  position: absolute;
  top: 36%;
  left: 3%;
}
.calculatorContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch !important;
  padding: 0;
  margin-bottom: 4em;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.calculator {
  background: #88c227;
  padding: 1.5em 0;
  width: 100%;
  & > h2 {
    font-size: 1em;
    background: rgba(255, 255, 255, 0.25);
    color: #FFF;
    text-align: center;
    padding: .5em;
    margin: 0 0 .2em 0;
  }
  & > div {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    padding: .3em 1em .1em 1em;
    font-size: 1em;
    margin: 0 0 .2em 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    label {
      width: 100%;
      font-size: .8em;
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      padding: 0 !important;
      input {
        display: block;
      }
    }
    input, select {
      width: 7em;
      color: #fff;
      font-size: calc(.8em + 0.3vw) !important;
      background: none;
      border: 0;
      outline: 0;
      margin: 0 0 .2em 0;
      border-radius: .4em;
      text-align: center;

    }
    input[type='range'] {
      appearance: none;
    }
    select {
      height: 1.7em;
    }
  }
  @media (min-width: 1440px) {
    font-size: 1.5em
  }
}

.frequency {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap !important;
  & > div:first-child {
    width: 100%;
    padding-bottom: 1em;
  }
  & > div {
    width: 8em;
    padding: .4em 0;
  }
}

.radioContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    display: none;
  }

  input[type="radio"]:checked + label span {
    background: rgba(0, 0, 0, .2);
    border: 5px solid rgba(255, 255, 255, 1);
  }
  span {
    background: rgba(255, 255, 255, 0.3);
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, .3);
    display: inline-block;
    margin-right: .5em;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 .5em;
  }

}

.pigContainer {
  width: 60vw;
  height: 42vw;
  position: relative;
  z-index: 97;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 200%;
  @media (max-width: 900px) {
    width: 100vw;
    height: 70vw;
  }
}

.pig {
  position: absolute;
  width: 43%;
  left: 47%;
  margin-left: -23.5%;
  top: 58%;
  z-index: 98;
}
.waves {
  width: 100%;
  position: absolute;
  top: -34%;
}
.island {
  width: 100%;
  position: absolute;
  top: 65%;
}
.water {
  width: 100%;
  position: absolute;
  top: 66%;
}
.umbrella {
  width: 32%;
  position: absolute;
  top: 34%;
  left: 12.5%;
}

.tree {
  width: 40%;
  position: absolute;
  top: 5%;
  left: 59%;
}

.coins {
  width: 22%;
  position: absolute;
  top: 75%;
  left: 5%;
  z-index: 98;
}
.cash {
  width: 32%;
  position: absolute;
  top: 67%;
  left: 64%;
  z-index: 95;
}
.coco {
  width: 9%;
  position: absolute;
  top: 84%;
  left: 30%;
  z-index: 98;
  transform: scaleX(-1);
}
.bag {
  width: 16%;
  position: absolute;
  top: 66%;
  left: 14%;
  transform: rotateZ(-15deg);
}
.cloud1 {
  width: 18%;
  position: absolute;
  top: 14%;
  left: 10%;
  transform: scaleX(-1);
}
.cloud2 {
  width: 18%;
  position: absolute;
  top: 20%;
  left: 35%;
}
.cloud3 {
  width: 18%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: scaleX(-1);
}
.cloud4 {
  width: 18%;
  position: absolute;
  top: 40%;
  right: 2%;
}
.cloud5 {
  width: 18%;
  position: absolute;
  top: 36%;
  left: 3%;
}

.others {
  padding: 2em 1em 0 1em;
  & > div:first-child {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 10vw;
    }
    h2 {
      padding: 1.3em 1em;
      border: 4px solid black;
      border-left: 0;
      font-size: 2em;
    }
  }
  & > div:last-child {
    padding: 4em 0em 1em 0em;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    img {
      width: 14vw;
    }
    & > a {
      display: block;
      padding: 1em;
      width: 100%;
      cursor: pointer;
      h3 {
        font-size: 1.3em;
      }
      &:hover {
        background: #FAFAFA;
      }
    }
  }
  @media (max-width: 1050px) {
    & > div:first-child {
      justify-content: center !important;
      & > h2 {
        border: none !important;
        font-size: calc(1.2em + 1vw) !important;
      }
    }
    & > div:last-child {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      img {
        width: 200px !important;
      }
      & > a {
        max-width: 450px;
      }
    }
  }
}

.rocks {
  width: 100%;
}

.graphContainer {
  padding: 1em;
  background: #eee;
  padding: 5em;
  height: auto;
}

.graphSelector {
  text-align: center;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  button {
    padding: .5em .8em;
    font-size: .7em;
    text-align: center;
    border-radius: .5em;
    border: 0;
    color: #FFF;
    cursor: pointer;
    &:last-child {
      margin-left: .5em;
    }
  }
}
.tabBtns {
  position: relative;
  width: auto !important;
  display: flex;
  z-index: 98;
  & > div {
    cursor: pointer;
    padding: 1em;
    font-weight: bold;
    &:hover {
      background: #ddd;
    }
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0em 1em 6em 1em;
  h3 {
    padding: 0 0 1em 0;
  }
  @media (min-width:320px) and (max-width:667px){
    iframe{
      width: 100%;
    }
  }
}

.help {
  border-radius: 100px !important;
  margin-right: .5em;
  background: rgba(255, 255 ,255 , .3) !important;
  border: 0 !important;
  font-size: .8em !important;
  padding: .4em .6em !important;
}

.helpModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  & > div {
    margin-top: 18vh;
    width: 40%;
    background: #FFF;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    & > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 100%;
        padding: .5em;
        font-weight: bolder;
        font-size: 1.2em;
      }
      i {
        color: red;
        font-size: 1.2em;
        padding: .5em .8em;
      }
    }
    & > div:last-child {
      padding: 1em;
      font-size: 1.1em;
      color: rgba(0, 0, 0, .8);
    }
  }
  @media (max-width: 1050px) {
    & > div {
      margin-top: 30vh !important;
      width: 98% !important;
    }
  }
}
