.Placeholder {
  color: #ddd;
  width: 100%;
  height: 100%;
  & > div:first-child {
    color: red;
    padding: .5em;
    font-size: 3em;
  }
  & > div:last-child {
    padding-top: 10vh;
    color: rgba(0,0,0, 0.1);
    text-shadow: 1px 4px 6px #eee, 0 0 0 #ddd, 1px 4px 6px #ddd;
    font-size: 5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
