.faq {
  background: #FFF;
  min-height: 100vh;
  padding: 5vw 0;
  display: flex;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 4vw;
    color: #124b62;
    font-weight: 300;
    margin: 0;
    padding: 3vw 1vw 1vw 1vw;
    text-align: center;
  }

  & > div:last-child {
    & > div {
      padding: 1em 1vw;
      width: 75%;
      margin: 0 auto;
      h2 {
        font-size: calc(14px + .6vw);
        color: #124b62;
        font-weight: normal;
      }
      p {
        padding: 0 1vw;
        font-size: calc(12px + .45vw);
        font-weight: normal;
        color: #898d94;
      }
      ul {
        font-size: calc(10px + .45vw);
        color: #898d94;
      }
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.nav {
  position: absolute;
  top: 90px;
  right: 0;
  color: rgba(255, 255, 255, 9);
  padding: 1vw 3vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .3s ease .6s;
  border-bottom: 1px solid #ddd;
  background: #FFF;

  a {
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    float: left;
    margin-left: 1.2vw;
    padding: .7vw .9vw;
    border-radius: .5vw;
    font-weight: lighter;
    font-weight: 400;
    color: #124b62;
  }
  img {
    height: 4vw;
  }
}

.green {
  background: #12c48b;
  font-weight: 500 !important;
  color: #FFF !important;
}
