.room {
  transition: all 0.3s ease-in 1s !important;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  position: relative;
  display: block;
}
.circle1 {
  position: absolute;
  top: 13.5%;
  left: 50%;
  margin-left: -16%;
  right: auto;
  width: 32vw;
  height: 32vw;
  transition: all .5s ease-in .1s;
  circle {
    width: 100%;
    fill: #25A1C9 !important;
  }
}
.circle1Hidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(-200%);
  opacity: 0;
}
.circle2 {
  position: absolute;
  top: 40%;
  left: 90%;
  margin-left: -4%;
  right: auto;
  width: 8vw;
  height: 8vw;
  transition: all .5s ease-in .1s !important;
  circle {
    width: 100%;
    fill: #25A1C9 !important;
  }
}
.circle2Hidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(-370%);
  opacity: 0;
}
.circle3 {
  position: absolute;
  top: 13.5%;
  left: 10%;
  margin-left: -2%;
  right: auto;
  width: 4vw;
  height: 4vw;
  transition: all .5s ease-in .1s;
  circle {
    width: 100%;
    fill: #25A1C9 !important;
  }
}
.circle3Hidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(-400%);
  opacity: 0;
}
.years {
  position: absolute;
  width: 14%;
  top: -17%;
  right: 12%;
  transition: all .5s ease-in .2s;
}
.yearsHidden {
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
  transform: translateY(-200%);
  opacity: 0;
}
.window {
  position: absolute;
  width: 18%;
  top: 8%;
  left: 40%;
  transition: all .5s ease-in .3s;
}
.windowHidden {
  transition: all .5s ease-in .3s, opacity .5s linear .8s !important;
  transform: translateY(-200%);
  opacity: 0;
}
.books {
  position: absolute;
  width: 14%;
  top: 14%;
  right: 24%;
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
}
.booksHidden {
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
  transform: translateX(300%);
  opacity: 0;
}
.clock {
  position: absolute;
  width: 8%;
  top: 10%;
  right: 34%;
  transition: all .5s ease-in .3s, opacity .5s linear .8s !important;
}
.clockHidden {
  transition: all .5s ease-in .3s, opacity .5s linear .8s !important;
  transform: translateY(-180%);
  opacity: 0;
}
.poster {
  position: absolute;
  width: 12%;
  top: 4%;
  left: 19%;
  transition: all .5s ease-in .4s, opacity .5s linear .8s !important;
  z-index: 2;
}
.posterHidden {
  transition: all .5s ease-in .4s, opacity .5s linear .8s !important;
  transform: translateY(-180%);
  opacity: 0;
}
.bookcase {
  position: absolute;
  width: 13%;
  top: 33%;
  left: 22%;
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
}
.bookcaseHidden {
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
  transform: translateX(-260%);
  opacity: 0;
}
.desk {
  position: absolute;
  width: 35%;
  top: 30%;
  right: 21.5%;
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
}
.deskHidden {
  transition: all .5s ease-in .2s, opacity .5s linear .8s !important;
  transform: translateX(200%);
  opacity: 0;
}
.chair {
  position: absolute;
  width: 32%;
  top: 33%;
  right: 8%;
  transition: all .5s ease-in .3s, opacity .5s linear .8s !important;
}
.chairHidden {
  transition: all .5s ease-in .3s, opacity .5s linear .8s !important;
  transform: translateX(100%);
  opacity: 0;
}
.dude {
  position: absolute;
  width: 29%;
  top: 10%;
  left: 23.5%;
  transition: transform .5s ease-in .5s, opacity .5s linear .8s !important;
}
.dudeHidden {
  transition: all .5s ease-in .5s, opacity .5s linear .8s !important;
  transform: translateY(100%);
  opacity: 0;
}
.text1 {
  position: absolute;
  top: 62%;
  left: 43%;
  width: 35%;
  color: #FFF;
  font-size: .8vw;
  transition: all .5s ease-in .8s, opacity .5s linear .8s !important;
  text-align: center;
  h1 {
    margin: 0;
    background: #0B2991;
    padding: .3em 1em .2em 1em;
    font-size: 3em;
    box-shadow: inset 0px 1px 9px 1px rgba(0,0,0,0.1);
  }
  h2 {
    text-align: center !important;
    background: #77369B;
    padding: .5em 2em .8em 2em;
    font-size: 1.7em;
    margin: 0 .4em;
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.54);
    line-height: 1.2em;
  }
}
.text1Hidden {
  transition: all .5s ease-in .8s, opacity .5s linear .8s !important;
  transform: translateY(200%);
  opacity: 0;
}
.nav {
  box-sizing: content-box !important;
  transition: transform .6s ease-in .9s, opacity .5s linear .8s !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  padding: 2em 0em 0 0;
  flex-wrap: wrap;
  & > div {
    padding: 0;
    width: 6.8em;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    & > a {
      color: #FFF;
      text-decoration: none;
      & > img {
        width: 96%;
        margin: 0 auto;
      }
      & > div {
        padding: 1em 0;
        font-size: .92vw;
        width: 100%;
      }
    }
  }
  @media (min-width: 1300px) {
    & > div {
      width: calc(7em + 4vw) !important;
    }
  }
  @media (max-width: 950px) {
    display: none !important;
  }
}


.footer {
  position: relative;
  z-index: 99;
  width: 100%;
}

.nav:hover .bookAnimation {
  background: red;
}

/*****/

.bookContainer {
  background: transparent;
  appearance: none !important;
  ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
  }
  a {
  	color: #2c3e50;
  	text-decoration: none;
  }
  @media (max-width: 950px) {
    display: none;
  }
}



.btn {
	display: inline-block;
	text-transform: uppercase;
	border: 2px solid #2c3e50;
	margin-top: 100px;
	font-size: 1em;
	font-weight: 700;
	padding: 0.1em 0.4em;
	text-align: center;
	transition: color 0.3s, border-color 0.3s;
}

.book {
	position: relative;
	width: calc(160px * 2);
	height: calc(220px * 2);
	perspective: 1000px;
	transform-style: preserve-3d;
  margin: 5em auto;
}

.hardcover_front li:first-child {
	background-color: #eee;
	backface-visibility: hidden;
  background: #30abd6;
}

/* reverse */
.hardcover_front li:last-child {
	background: #fffbec;
}

/* HARDCOVER BACK */
.hardcover_back li:first-child {
	background: #fffbec;
}

/* reverse */
.hardcover_back li:last-child {
	background: #fffbec;
}

.book_spine li:first-child {
	background: #eee;
}
.book_spine li:last-child {
	background: #333;
}

/* thickness of cover */

.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
	background: #999;
}

/* page */

.page > li {
	background: -webkit-linear-gradient(to left, #e1ddd8 0%, #fffbf6 100%);
	background: -moz-linear-gradient(to left, #e1ddd8 0%, #fffbf6 100%);
	background: -ms-linear-gradient(to left, #e1ddd8 0%, #fffbf6 100%);
	background: linear-gradient(to left, #e1ddd8 0%, #fffbf6 100%);
	box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
	border-radius: 0px 5px 5px 0px;
}

/*
	3. opening cover, back cover and pages
*/

.hardcover_front {
	-webkit-transform: rotateY(-34deg) translateZ(8px);
	-moz-transform: rotateY(-34deg) translateZ(8px);
	transform: rotateY(-34deg) translateZ(8px);
	z-index: 100;
}

.hardcover_back {
	-webkit-transform: rotateY(-15deg) translateZ(-8px);
	-moz-transform: rotateY(-15deg) translateZ(-8px);
	transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
	-webkit-transform: rotateY(-28deg);
	-moz-transform: rotateY(-28deg);
	transform: rotateY(-28deg);
}

.page li:nth-child(2) {
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
  text-align: center;
  padding: 40px 10px 0 10px;
  color: #666;
  img {
    width: 180px;
  }
  h4 {
    font-size: 2em;
    margin: 0;
    padding: .6em 0 0 0;
  }
  p {
    font-size: 1.1em;
  }
}

.page li:nth-child(3) {
	-webkit-transform: rotateY(-32deg);
	-moz-transform: rotateY(-32deg);
	transform: rotateY(-32deg);
}

.page li:nth-child(4) {
	-webkit-transform: rotateY(-34deg);
	-moz-transform: rotateY(-34deg);
	transform: rotateY(-34deg);
}

.page li:nth-child(5) {
	-webkit-transform: rotateY(-36deg);
	-moz-transform: rotateY(-36deg);
	transform: rotateY(-36deg);
}

/*
	4. position, transform & transition
*/

.hardcover_front,
.hardcover_back,
.book_spine,
.hardcover_front li,
.hardcover_back li,
.book_spine li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}

.hardcover_front {
	-webkit-transition: all 0.8s ease, z-index 0.6s;
	-moz-transition: all 0.8s ease, z-index 0.6s;
	transition: all 0.8s ease, z-index 0.6s;
}

/* HARDCOVER front */
.hardcover_front li:first-child {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-transform: translateZ(2px);
	-moz-transform: translateZ(2px);
	transform: translateZ(2px);
}

.hardcover_front li:last-child {
	-webkit-transform: rotateY(180deg) translateZ(2px);
	-moz-transform: rotateY(180deg) translateZ(2px);
	transform: rotateY(180deg) translateZ(2px);
}

/* HARDCOVER back */
.hardcover_back li:first-child {
	-webkit-transform: translateZ(2px);
	-moz-transform: translateZ(2px);
	transform: translateZ(2px);
}

.hardcover_back li:last-child {
	-webkit-transform: translateZ(-2px);
	-moz-transform: translateZ(-2px);
	transform: translateZ(-2px);
}

/* thickness of cover */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
	position: absolute;
	top: 0;
	left: 0;
}

/* HARDCOVER front */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
	width: 4px;
	height: 100%;
}

.hardcover_front li:first-child:after {
	-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_front li:first-child:before {
	-webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
	width: 4px;
	height: 160px;
}

.hardcover_front li:last-child:after {
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.hardcover_front li:last-child:before {
	box-shadow: 0px 0px 30px 5px #333;
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */

.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
	width: 4px;
	height: 100%;
}

.hardcover_back li:first-child:after {
	-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
	-webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
	width: 4px;
	height: 160px;
}

.hardcover_back li:last-child:after {
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover_back li:last-child:before {
	box-shadow: 10px -1px 80px 20px #666;
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

/* BOOK SPINE */
.book_spine {
	-webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
	-moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
	transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
	width: 16px;
	z-index: 0;
}

.book_spine li:first-child {
	-webkit-transform: translateZ(2px);
	-moz-transform: translateZ(2px);
	transform: translateZ(2px);
}

.book_spine li:last-child {
	-webkit-transform: translateZ(-2px);
	-moz-transform: translateZ(-2px);
	transform: translateZ(-2px);
}

/* thickness of book spine */
.book_spine li:first-child:after,
.book_spine li:first-child:before {
	width: 4px;
	height: 100%;
}

.book_spine li:first-child:after {
	-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book_spine li:first-child:before {
	-webkit-transform: rotateY(-90deg) translateZ(-12px);
	-moz-transform: rotateY(-90deg) translateZ(-12px);
	transform: rotateY(-90deg) translateZ(-12px);
}

.book_spine li:last-child:after,
.book_spine li:last-child:before {
	width: 4px;
	height: 16px;
}

.book_spine li:last-child:after {
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}

.book_spine li:last-child:before {
	box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}

.page,
.page > li {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.page {
	width: 100%;
	height: 98%;
	top: 1%;
	left: 3%;
	z-index: 10;
}

.page > li {
	width: 100%;
	height: 100%;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	transition-timing-function: ease;
}

.page > li:nth-child(1) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.page > li:nth-child(2) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.page > li:nth-child(3) {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.page > li:nth-child(4) {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.page > li:nth-child(5) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

/*
	5. events
*/

.bookOpen > .hardcover_front {
	-webkit-transform: rotateY(-145deg) translateZ(0);
	-moz-transform: rotateY(-145deg) translateZ(0);
	transform: rotateY(-145deg) translateZ(0);
	z-index: 0;
}

.bookOpen > .page li:nth-child(1) {
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.bookOpen > .page li:nth-child(2) {
	-webkit-transform: rotateY(-35deg);
	-moz-transform: rotateY(-35deg);
	transform: rotateY(-35deg);
	-webkit-transition-duration: 1.8s;
	-moz-transition-duration: 1.8s;
	transition-duration: 1.8s;
}

.bookOpen > .page li:nth-child(3) {
	-webkit-transform: rotateY(-118deg);
	-moz-transform: rotateY(-118deg);
	transform: rotateY(-118deg);
	-webkit-transition-duration: 1.6s;
	-moz-transition-duration: 1.6s;
	transition-duration: 1.6s;
}

.bookOpen > .page li:nth-child(4) {
	-webkit-transform: rotateY(-130deg);
	-moz-transform: rotateY(-130deg);
	transform: rotateY(-130deg);
	-webkit-transition-duration: 1.4s;
	-moz-transition-duration: 1.4s;
	transition-duration: 1.4s;
}

.bookOpen > .page li:nth-child(5) {
	-webkit-transform: rotateY(-140deg);
	-moz-transform: rotateY(-140deg);
	transform: rotateY(-140deg);
	-webkit-transition-duration: 1.2s;
	-moz-transition-duration: 1.2s;
	transition-duration: 1.2s;
}

/*
	6. Bonus
*/

/* cover CSS */

.coverDesign {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.coverDesign::after {
	background-image: -webkit-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: -moz-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.coverDesign h1 {
	color: #fff;
	font-size: 2.2em;
	letter-spacing: 0.05em;
	text-align: center;
	margin: 54% 0 0 0;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}

.coverDesign p {
	color: #f8f8f8;
	font-size: 1em;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}

/* Basic ribbon */

.ribbon {
	color: #fff;
	display: block;
	font-size: 0.7em;
	position: absolute;
	top: 11px;
	right: 1px;
	width: 40px;
	height: 20px;
	line-height: 20px;
	letter-spacing: 0.15em;
	text-align: center;
	-webkit-transform: rotateZ(45deg) translateZ(1px);
	-moz-transform: rotateZ(45deg) translateZ(1px);
	transform: rotateZ(45deg) translateZ(1px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 10;
  &.new{
    background: #63c930;
    &:before,
    &:after{
      border-bottom: 20px solid #63c930;
    }
  }
  &.bestseller{
    background: #c0392b;
    &:before,
    &:after{
      border-bottom: 20px solid #c0392b;
    }
  }


}

.ribbon::before,
.ribbon::after{
	position: absolute;
	top: -20px;
	width: 0;
	height: 0;

	border-top: 20px solid transparent;
}

.ribbon::before{
	left: -20px;
	border-left: 20px solid transparent;
}

.ribbon::after{
	right: -20px;
	border-right: 20px solid transparent;
}
