.cursos {
  font-size: 5em;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: rgba(0,0,0, 0.1);
  text-shadow: 1px 4px 6px #eee, 0 0 0 #ddd, 1px 4px 6px #ddd;
}
