.room {
  transition: all 0.3s ease-in 1s !important;
  height: 50vw;
  overflow: hidden;
  background: #ef6b57;
  width: 100%;
  position: relative;
}
.lamp {
  position: absolute;
  top: -1%;
  left: 50%;
  margin-left: -9%;
  right: auto;
  width: 18%;
  transition: all .3s ease-in .4s !important;
}
.circle1 {
  position: absolute;
  top: 13.5%;
  left: 50%;
  margin-left: -16%;
  right: auto;
  width: 32vw;
  height: 32vw;
  transition: all .5s ease-in .1s, display .1s linear 5s  !important;
  circle {
    width: 100%;
    fill: #FD8273 !important;
  }
}
.circle2 {
  position: absolute;
  top: 40%;
  left: 90%;
  margin-left: -4%;
  right: auto;
  width: 8vw;
  height: 8vw;
  transition: all .5s ease-in .1s !important;
  circle {
    width: 100%;
    fill: #FD8273 !important;
  }
}
.circle3 {
  position: absolute;
  top: 13.5%;
  left: 10%;
  margin-left: -2%;
  right: auto;
  width: 4vw;
  height: 4vw;
  transition: all .5s ease-in .1s !important;
  circle {
    width: 100%;
    fill: #FD8273 !important;
  }
}
@keyframes lampAnimation {
  0% {
    transform: translateY(-300%)
  }
  100% {
    transform: translateY(0);
  }
}
.bed {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 45%;
  transition: all .3s ease-in .5s !important;
}
.poster {
  position: absolute;
  top: 23%;
  left: 45%;
  width: 9%;
  transition: all .3s ease-in .6s !important;
  cursor: pointer;
  z-index: 98;
  &:hover {
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, .5);
  }
}
.dude {
  position: absolute;
  top: 24%;
  left: 52%;
  width: 22%;
  transition: all .3s ease-in .8s !important;
}
@keyframes rightAnimation {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}
.desktop {
  position: absolute;
  top: 27%;
  left: 15%;
  width: 29%;
  transition: all .45s ease-in .5s !important;
}
.books {
  position: absolute;
  top: 16%;
  left: 24%;
  width: 16%;
  transition: all .4s ease-in .65s !important;
}
@keyframes leftAnimation {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
.text1 {
  position: absolute;
  top: 62%;
  left: 22%;
  width: 35%;
  color: #FFF;
  font-size: .8vw;
  transition: all .3s ease-in .7s !important;
  text-align: center;
  h1 {
    margin: 0;
    background: #740d0d;
    padding: .3em 1em .2em 1em;
    font-size: 3em;
    text-align: center;
    box-shadow: inset 0px 1px 9px 1px rgba(0,0,0,0.1);
  }
  h2 {
    text-align: center !important;
    background: #c36131;
    padding: .5em 2em .8em 2em;
    font-size: 1.6em;
    margin: 0 .4em;
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.54);
    line-height: 1.2em;
  }
}
@keyframes bottomAnimation {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}



/********STREET******/

.fondoRojo {
  width: 100%;
  bottom: -50%;
  right: 0;
  transition: all .5s linear 1s;
}
.fondoRojoHidden {
  transition: none !important;
  transform: translateY(-300vh);
}
.icon {
  transition: transform .8s linear 1s;
}
.iconLeftOut {
  transition: transform .5s linear .1s !important;
  transform: translateX(-100vw);
}
.iconRightOut {
  transition: transform .5s linear .1s !important;
  transform: translateX(100vw);
}

.autoContainer {
  width: 24%;
  height: 100%;
  top: 0%;
  left: 50%;
  margin-left: -12%;
  position: absolute;
}
.auto {
  display: block;
  width: 100%;
  height: 100%;
  bottom: -32%;
  opacity: 1;
  filter: none !important;
  z-index: 98 !important;
  transition: transform 9s linear 2.5s, opacity .2s ease 2.4s;
}
.autoHidden {
  filter: none !important;
  backface-visibility: hidden !important;
  transform: translateY(-54%) scale(.25);
  opacity: 0;
}
.textContainer {
  position: absolute;
  height: 12vw;
  width: 18vw;
  top: 19vw;
  left: 50%;
  margin-left: -9vw;
  text-align: center;
  color: #666 !important;
  background: #FFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2vw 1vw;
  z-index: 98;
  background: url('/static/img/tbubble.png');
  background-position: 0% 20%;
  background-size: 102% 120%;
  h2 {
    font-size: 1.3vw;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: .9vw;
    margin: 0 !important;
    padding: 0 !important;
  }
}


.signal {
  display: block;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  & > div {
    display: none;
    background: url('/static/img/tbubble.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    color: #666;
    z-index: 2;
    border-radius: 1em;
    bottom: 98%;
    text-align: center;
    padding: 2em;
    font-size: 1.3em;
  }
  &:hover {
    & > div {
      display: none;
    }
  }
  & > img {
    width: 100%;
  }
}
.cursos {
  composes: signal;
  width: 7%;
  top: 16%;
  right: 38%;
}
.cursosOut {
  transition: all 0.2s linear 3.5s !important;
  opacity: 1;
}
.guia {
  composes: signal;
  width: calc(7% * 1.2);
  top: calc(16% * 1.8);
  right: calc(38% * 0.83);
}
.guiaOut {
  transition: all 0.1s linear 5s !important;
  opacity: 1;
}
.cuenta {
  composes: signal;
  width: calc(7% * 1.3);
  top: calc(16% * 2.6);
  right: calc(38% * 0.645);
}
.cuentaOut {
  transition: all 0.1s linear 7.4s !important;
  opacity: 1;
}
.destinos {
  composes: signal;
  width: calc(7% * 1.6);
  top: calc(16% * 3.8);
  right: calc(38% * 0.4);
}
.destinosOut {
  transition: all 0.1s linear 9.5s !important;
  opacity: 1;
}
.calculadora {
  composes: signal;
  width: 7%;
  top: 18%;
  left: 38%;
}
.calculadoraOut {
  transition: all 0.1s linear 3.8s !important;
  opacity: 1;
}
.referencias {
  composes: signal;
  width: calc(7% * 1.2);
  top: calc(16% * 1.8);
  left: calc(38% * 0.81);
}
.referenciasOut {
  transition: all 0.1s linear 5s !important;
  opacity: 1;
}
.movil {
  composes: signal;
  width: calc(7% * 1.35);
  top: calc(16% * 2.7);
  left: calc(38% * 0.58);
}
.movilOut {
  transition: all 0.1s linear 7.4s !important;
  opacity: 1;
}
.itinerario {
  composes: signal;
  width: calc(7% * 2);
  top: calc(16% * 3.8);
  left: calc(38% * 0.3);
}
.itinerarioOut {
  transition: all 0.1s linear 10.5s !important;
  opacity: 1;
}
.cloudsCont {
  position: relative;
  height: 100%;
  transition: 1s linear 1s;
}
.cloudsContHidden {
  transition: none;
  transform: translateY(-100vh);
}
.cloud {
  animation: cloudm 25s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translateY(-100vh);
}

@keyframes cloudm {
  0% {
    transform: translateX(-120px);
  }
  25% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(120px);
  }
}

.hover {
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  text-align: center;
  color: #FFF;
  width: 12%;
  height: 26%;
  position: absolute;
  z-index: 98;
  top: 28%;
  left: calc(50% - 6%);
  font-size: 1.6vw;
  padding: 3.8vw 0 0 0 ;
  // background: url('/static/img/joven/cloud.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
