.guia {
  font-smoothing: antialiased !important;
  background: #FFF;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  font-size: 1em;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  & > div {
    padding: 1em;
    background: rgba(255, 255, 255, 0.7);
    max-width: 50em;
    margin: 0 auto;
    & > div {
      padding: 1em;
      border: 1px solid;
    }
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  @media (min-width:320px) and (max-width:736px){
    h1 {
      font-size: 30px !important;
    }
    h2 {
      font-size: 20px !important;
    }
  }
}

.resumen {
  font-size: calc(14px + 0.6vw);
  text-align: center;
  padding: 3vw 0;
  & > p {
    padding: 0 3vw 4vw 3vw;
  }
  button {
    cursor: pointer;
    padding: .3em 1em;
    border: none;
    border-radius: 1em;
    font-size: 1.2em;
    color: #FFF;
  }
  & > div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    & > a {
      display: block;
      width: 100%;
      padding: 1vw;
    }
    img {
      height: 14vw;
    }
  }
  @media (max-width: 1000px) {
    & > div {
      flex-wrap: wrap;
      a {
        width: 300px !important;
      }
    }
  }
  @media (min-width:320px) and (max-width:736px){
    img{
      height: 50vw!important;
    }
    h3, h4{
      font-size: 18px;
    }
  }
}

.avisoLigas {
  text-align: center;
  padding: 1em 1em 2em 1em;
}
