.container {
  background: #ef6b57;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Patua One', cursive;
}
.acontainer {
  position: relative;
  overflow: hidden;
}

.menulist {
  transition: all .3s ease-in .65s !important;
  background: #eaf5f9;
  max-width: 90%;
  margin: 0 auto 1em auto;
  position: relative;
  z-index: 97;
  & > h2 {
    background: #ee6b58;
    text-align: center;
    font-size: calc(16px + 1vw);
    padding: .7em;
    margin: 0;
    color: #FFF;
  }
  & > div {
    & > a {
      padding: 1.5vw 2vw;
      color: #a62b2b;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5em;
        margin: 0 .1vw;
      }
      & > div {
        & > h3 {
          margin: 0;
          font-size: calc(15px + 1vw);
          padding: 0 0 .2em 0;
        }
        & > p {
          margin: 0;
          font-size: calc(14px + .6vw);
        }
        & > button {
          font-size: 1.3em;
          border: 0;
          padding: .2em .8em;
          min-width: 4em;
          border-radius: .5em;
          background: #ed5f50;
          color: #FFF;
        }

      }
      &:hover {
        background: #E9F2D1;
      }
    }
    & > a > div:first-child {
      width: 100%;
      background: red;
    }
  }
  @media (min-width: 951px) {
    display: none !important;
  }
  @media (max-width: 950px) {
    max-width: 100% !important;
  }
}

.menulistHidden {
  transition: all 0s ease-in 0s !important;
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
