.room {
  overflow: hidden;
  width: 100%;
  height: 50vw;
  position: relative;
}
.roomHidden {
  transition: all 0.3s ease-in .7s, opacity 0.3s ease-in .5s !important;
  height: 0 !important;
  opacity: 0 !important;
}
.circle {
  border-radius: 100%;
  background: #80D273;
  position: absolute;
  width: 36vw;
  height: 36vw;
  top: 14%;
  left: 50vw;
  margin-left: -20vw;
  transition: all .5s ease-in .1s !important;
}
.circleHidden {
  transition: all .5s ease-in .1s, opacity .5s linear .9s !important;
  transform: translateY(-150%);
  opacity: 0;
}
.years {
  position: absolute;
  width: 14%;
  top: -17%;
  right: 12%;
  transition: all .3s ease-in .3s !important;
}
.yearsHidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(-50%);
  opacity: 0;
}
.window {
  position: absolute;
  width: 15%;
  top: 14%;
  left: 4%;
  transition: all .3s ease-in .3s !important;
}
.windowHidden {
  transition: all .3s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateX(-150%);
  opacity: 0;
}
.bag {
  position: absolute;
  width: 10%;
  top: 58%;
  left: 10%;
  transition: all .3s ease-in .5s !important;
}
.bagHidden {
  transition: all .3s ease-in .1s, opacity .5s linear .6s !important;
  transform: translateY(280%);
  opacity: 0;
}
.menu {
  position: absolute;
  width: 12%;
  top: 15%;
  left: 48%;
  margin-left: -6%;
  transition: all .3s ease-in .8s !important;
}
.menuHidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(-200%);
  opacity: 0;
}
.scanner {
  position: absolute;
  width: 16%;
  top: 24%;
  left: 22%;
  transition: all .3s ease-in .6s !important;
}
.scannerHidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateX(-260%);
  opacity: 0;
}
.chair {
  position: absolute;
  width: 25%;
  top: 47%;
  right: 32%;
  transition: all .3s ease-in .5s !important;
}
.chairHidden {
  transition: all .3s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(200%);
  opacity: 0;
}
.dude {
  position: absolute;
  width: 29%;
  top: 10%;
  right: 13%;
  transition: all .3s ease-in .9s !important;
}
.dudeHidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateX(180%);
  opacity: 0;
}
.text {
  position: absolute;
  top: 62%;
  left: 22%;
  width: 36%;
  color: #FFF;
  font-size: .8vw;
  transition: all .3s ease-in .7s !important;
  text-align: center !important;
  h1 {
    margin: 0;
    background: #136D24;
    padding: .3em 1em .2em 1em;
    font-size: 3em;
    text-align: center;
    box-shadow: inset 0px 1px 9px 1px rgba(0,0,0,0.1);
  }
  h2 {
    text-align: center !important;
    background: #F5752A;
    padding: .5em 2em .8em 2em;
    font-size: 1.7em;
    margin: 0 .4em;
    text-align: left;
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.54);
    line-height: 1.2em;
  }
}
.textHidden {
  transition: all .5s ease-in .1s, opacity .5s linear .8s !important;
  transform: translateY(160%);
  opacity: 0;
}
