.navContainer {
  right: 0;
  left: 0;
}

.mobile {
  font-family: 'Roboto', sans-serif !important;
  height: 100vh;
  background: #FFF;
  height: auto;
  overflow: auto;
}

.nav {
  color: rgba(255, 255, 255, 9);
  padding: .5em 3vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
  }
  a {
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    float: left;
    margin-left: 1.2vw;
    padding: .7vw .9vw;
    border-radius: .5vw;
    font-weight: lighter;
    font-weight: 400;
    text-decoration: none;
    color: #777;
    text-decoration: none !important;
    &:last-child {
      color: #FFF;
    }
  }
  img {
    height: 4vw;
    margin: .3em 0;
  }
  @media (min-width:320px) and (max-width:1023px){
    padding-top: 5px;
  }
  @media (min-width:320px) and (max-width:812px){
    display: none;
  }
}
.navselected {
  text-decoration: underline !important;
}
.store {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1vw;
  background: #12c48b;
  width: 15vw !important;
  cursor: pointer;
  text-decoration: none;
  color: #FFF !important;
  img {
    width: 2.5vw !important;
    margin-right: 1vw;
  }
  h3 {
    font-weight: lighter;
    text-align: left;
    font-size: 1vw;
    margin: 0;
    padding: 0 0 .2vw 0;
  }
  h2 {
    font-weight: 400;
    text-align: left;
    font-size: 1.4vw;
    margin: 0;
    padding: 0;
  }
}
.social {
  padding: 0vw 3vw;
  justify-content: center !important;
  align-items: center !important;
  a {
    cursor: pointer;
    display: block;
    border: 0;
    border-radius: .2vw;
    font-size: .9vw;
    padding: .3vw .6vw;
    margin-right: .2vw;
    color: #FFF;
  }
}
.fb {
  background: #4267b2;
}
.tt {
  background: #1b95e0;
}
.green {
  background: #12c48b;
  font-weight: 500 !important;
  color: #FFF;
}
.circleNav {
  position: absolute;
  width: 3.6vw;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  & > div {
    cursor: pointer;
    width: .5vw;
    height: .5vw;
    border: 1px solid;
    border-radius: 100%;
    margin: 0 .5vw .5vw .5vw;
  }
}

.selected {
  margin: 0 0 .5vw .1vw !important;
  width: 1.2vw !important;
  height: 1.2vw !important;
  border: 2px solid #12c48b !important;
  color: #fff;
  text-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    width: .5vw !important;
    height: .5vw !important;
    background: #12c48b;
    border-radius: 100%;
  }
}

.init {
  /* min-height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 20s ease infinite;
  padding: 2em 0;
  & > div {
    height: 100%;
    width: 100%;
    @media (min-width:320px) and (max-width:736px){
      height: auto;
    }
  }
  @media (min-width:320px) and (max-width:1023px){
    padding-top: 50px!important;
  }
  @media (min-width:320px) and (max-width:736px){
    display: block!important;
  }
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.init0 {
  display: flex;
  flex-direction: column;
  color: #FFF;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  font-family: arial;
  font-weight: lighter;
  color: rgba(255, 255, 255, .9);
  padding: 7vw 1vw;
  transition: opacity 1.2s ease, transform .6s ease;
  h1 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 4.5vw;
    margin-top: 10vw;
    small {
      font-weight: lighter;
      margin: 0;
      padding: 0;
    }
  }
  p {
    font-size: 1.4vw;
    padding: 0 4vw;
    font-weight: bolder !important;
    @media (min-width:320px) and (max-width:736px){
      font-size: 14px;
    }
  }
  & > div {
    padding: 4vw 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & > a {
      margin-left: 1vw;
    }
  }
}
.init1 {
  padding: 12vw 0 0 0;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: opacity 1.2s ease, transform .6s ease;
  opacity: 1; */
  img {
    /* width: 55vh; */
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0 30px;
  }
  @media (min-width:320px) and (max-width:736px){
    padding: 0;
    img{
      max-width: 50%;
      margin: 0 auto;
    }
  }
}

.info {
  background: #FFF;
  /* min-height: 100%; */
  box-sizing: border-box !important;
  padding: 3vw 1vw;
  overflow: hidden !important;
  transition: height .3s ease .3s, padding .4s ease .5s, opacity .3s ease .3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 4vw;
    color: #124b62;
    font-weight: 300;
    margin: 0 0 1vw 0;
    padding: 1em 1vw 1vw 1vw;
    text-align: center;
    border-bottom: 2px solid #00C59E;
  }
  & > div {
    width: 90%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
    padding-top: 2.1vw;
    img {
      max-height: 26vw;
      min-width: 100px;
      margin: 1vw;
      box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
      cursor: pointer;
      display: block;
    }
  }
  @media (min-width:320px) and (max-width:1024px){
    & > div {
      min-height: auto!important;
    }
  }
  @media (min-width:320px) and (max-width:812px){
    & > div{
      img{
        min-width: auto!important;
        max-width: 100%;
        max-height: 100%!important;
        height: auto;
        margin-bottom: 20px!important;
      }
    }
  }
  @media (min-width:320px) and (max-width:812px){
    h3{
      font-size: 16px;
    }
    a{
      font-size: 20px!important;
    }
  }
}

.videos {
  background: #FFF;
  /* min-height: 100%; */
  height: auto;
  box-sizing: border-box !important;
  padding: 3vw 1vw;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  transition: height .3s ease .3s, padding .6s ease .5s, opacity .3s ease .3s;
  h2 {
    font-size: 4vw;
    color: #124b62;
    font-weight: 300;
    margin: 0 0 1vw 0;
    padding: 1em 1vw 1vw 1vw;
    text-align: center;
    border-bottom: 2px solid #00C59E;
  }
}

.videos1 {
  padding: 3vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media (max-width: 1400px) {
    flex-direction: column !important;
  }
}

.vcontainer {
  width: 40vw;
  height: calc(40vw * 0.56);
  margin: 1vw;
  iframe {
    width: 100%;
    height: 100%;
  }
  @media (min-width:320px) and (max-width:812px){
    width: 100%;
    height: calc(100vw * 0.56);
  }
}

.final {
  background: #FFF;
  background-image: url('/static/img/mobile/bgicons1.svg');
  background-position: center 26vh;
  background-size: 58%;
  background-repeat: no-repeat;
  /* min-height: 100%; */
  box-sizing: border-box !important;
  padding: 3vw 1vw;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height .3s ease .3s, padding .6s ease .5s, opacity .3s ease .3s;
  & > h2 {
    font-size: 4vw;
    color: #124b62;
    font-weight: 300;
    margin: 0;
    padding: 0 1vw 1vw 1vw;
    text-align: center;
  }
  & > div {
    box-sizing: border-box;
    padding: 2vw 1vw 3vw 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    & > a {
      margin-left: 1vw;
    }
  }
  & > img {
    height: 48vh;
    margin: 0 0 2vw 0;
    @media (min-width:320px) and (max-width:414px){
      height: auto;
      width: 50%;
    }
  }
  @media (min-width:320px) and (max-width:414px){
    background-position: center 10vh!important;
    background-size: 90%!important;
  }
}

.faq {
  background: #FFF;
  /* min-height: 100%; */
  box-sizing: border-box !important;
  padding: 3vw 1vw;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: padding .3s ease .3s, opacity .3s ease .3s;
  & > h2 {
    font-size: 4vw;
    color: #124b62;
    font-weight: 300;
    margin: 0 0 1vw 0;
    padding: 1em 1vw 1vw 1vw;
    text-align: center;
    border-bottom: 2px solid #00C59E;
  }
  & > div {
    box-sizing: border-box;
    padding: 2.1vw 1vw 5vw 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    color: #FFF;
    & > div:first-child {
      width: 50vw;
      h3 {
        font-size: calc(14px + .7vw) !important;
        color: #124b62;
        font-weight: 600;
      }
      p {
        font-size: calc(12px + .7vw);
        color: #abb0b9;
        font-weight: 300;
      }
      a {
        cursor: pointer;
        display: block;
        font-size: 1.2vw;
        padding: .7vw .9vw;
        border-radius: .5vw;
        font-weight: lighter;
        font-weight: 400;
        border: 0;
        background: #12c48b;
        color: #FFF;
        width: 7vw;
        text-align: center;
        margin: 0 auto !important;
      }
      @media (min-width:320px) and (max-width:812px){
        width: 100%;
      }
    }
    & > div:last-child {
      background-image: url('/static/img/mobile/bgicons1.svg') !important;
      background-position: center 1vh;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 2vw 2vw 0 2vw;
      width: 35vw;
      & > img {
        display: block;
        margin: 0 auto;
        width: 90%;
      }
      @media (min-width:320px) and (max-width:812px){
        display: none;
      }
    }
  }
}

.contact {
  padding: 3vw 1vw;
  display: block;
  font-size: 1.5em;
  text-align: center;
  h3 {
    margin: 0;
    padding: 0 0 1em 0;
    color: #124b62;
  }
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: #00C59E;
  }
}
