.container{
	padding: 0;
	margin: 0;
	button {
		width: 100%;
		padding: .6em;
		margin: 0;
		border: 0;
		background: #337ab7;
		color: #FFF;
		font-weight: bolder;
	}
}

.monthContainer {
	display: flex;
	align-items: center;
	color: #337ab7;
	background: #FAFAFA;
	font-size: 1.2em;
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	div, input {
		text-align: center;
		width: 100% !important;
		min-width: auto !important;
		border: none;
		background: none;
		& > div {
			text-align: center;
		}
	}
	i {
		padding: .7em;
	}
}

.daysContainer {
	width: 28em;
	height: 17.5em;
	display: flex;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	flex-wrap: wrap;
	& > div {
		width: 4em;
		height: 3.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover{
			background: #E6E6E6;
		}
	}
}

.daySelected {
	background: #E6E6E6;
	color: #337ab7;
	font-size: bold;
}

.btnsContainer {
	display: flex;
	button:first-child{
		background: #E12727;
	}
}
