.masonry {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.col {
  margin: 0 5px;
  flex-shrink: 1;
  width: 100%;
  &:first-child {
  	margin-left: 0;
  }
  &:last-child {
  	margin-right: 0;
  }
}


.process{
  width: 100%;
  padding: .6em;
  border-radius: 4px;
  color: #999;
  flex-shrink: 1;
  text-align: center;
  padding: 30px 0;
  font-size: 1.3em;
  i {
    padding: .2em;
    margin: 0;
    color: #f39200;
  }
}

.empty {
  composes: process;
  color: #BDBDBD;
  font-size: 6em;
  i {
    color: #BDBDBD;
    padding: 0;
  }
}
.nochields {
  display: flex;
  width: 100%;
  & > div {
    width: 100%;
  }
  & > div:first-child {
    max-width: 320px;
  }
  & > div:last-child {
    min-width: 320px;
  }
  @media (max-width: 700px){
    & > div {
      max-width: 100% !important;
      min-width: 100% !important;
    }
    flex-wrap: wrap;
  }

}
.nochieldsnomenu {
  width: 100%;
}
