.container {
  font-family: 'Patua One';
  font-smoothing: antialiased !important;
  width: 100%;
  margin: 0 !important;
  text-align: center;
  color: #FFF;
  display: block;
  flex-direction: column;
  overflow: auto;
  padding: 0 0 0 0;
  & > div {
    width: 100%;
  }
  & > div:last-child {
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 100%;
    background-image: url('/static/img/homeBackground.svg'), url('/static/img/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 48% 65px, center 40px;
    background-size: 55%, 30%;
    @media (max-width: 600px) {
      display: block;
      background-image: none;
    }
  }
}
.header {
  width: 100%;
  position: relative;
  background-image: url('/static/img/h1.svg'), url('/static/img/h2.svg'), linear-gradient(to bottom, rgba(94,188,232,1) 0%, rgba(58,121,197,1) 100%);
  background-position: right bottom, -4% 84%, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 25%, 30%, auto;
  display: block;
  box-sizing: border-box !important;
  padding: 1em 1em 1.5em 1em;
  overflow: hidden;
  h3 {
    font-size: calc(16px + .5vw);
    font-family: sans-serif !important;
    position: relative;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    padding: 0;
    z-index: 98 !important;
    font-weight: 400;
  }
  h1 {
    position: relative;
    font-size: calc(16px + 3vw);
    margin: 0;
    font-family: sans-serif !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    z-index: 98 !important;
    font-weight: 400;
    font-weight: bold;
    padding: 0 0 1vw 0;
  }
  h2 {
    position: relative;
    font-size: calc(16px + 1.4vw);
    margin: 0;
    font-family: sans-serif !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    z-index: 98 !important;
    font-weight: 400;
    font-weight: bold;
  }
  @media (max-width: 600px) {
    padding: 2em 1em 1.5em 1em;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
    }
  }
}
.squaresContainer {
  animation: backAnimation .4s ease;
  overflow: hidden;
  position: relative;
}
@keyframes backAnimation {
  0% {
    background-position: 48% 1000px, center -1000px;
  }
  100% {
    background-position: 48% 65px, center 40px;
  }
}

.squaresbackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  height: 100% !important;
  min-height: 500px;
  @media (max-width: 600px) {
    display: none;
  }
  & > div {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
}
.cb1827 {
  background-color: rgba(255, 102, 102, .5);
}
.cb2836 {
  background: rgba(51, 204, 255, .5);
}
.cb3745 {
  background: rgba(153, 204, 51, .5);
}
.squares {
  display: flex;
  width: 100%;
  height: auto !important;
  min-height: 500px;
  z-index: 3;
  & > div {
    width: 100%;
    height: 100%;
    min-height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  @media (max-width: 600px) {
    display: block !important;
    & > div {
      max-height: 300px !important;
      min-height: 300px !important;
      height: 300px !important;
      padding: 1em !important;
      & > div {
        font-size: 1em !important;
        padding: 1em 2em !important;
        width: auto !important;
      }
    }
  }
}

.textbox {
  min-width: 30%;
  border-radius: 1em;
  font-size: 1.8vw;
  padding: .6em;
  text-align: center;
  position: absolute;
  bottom: 18%;
  left: 35%;
  animation: textboxanimation .5s ease;
  h3 {
    font-size: 1.8em;
    margin: 0;
  }
  @media (max-width: 600px) {
    h3 {
      font-size: 5em;
    }
    small {
      font-size: 3em !important;
    }
  }
}
@keyframes textboxanimation {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-10%);
  }
  75% {
    transform: translateY(-8%);
  }
  85% {
    transform: translateY(-6%);
  }
  95% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}


.c1827 {
  background-image: url('/static/img/c1827.png');
  background-position: 15% 0;
  background-size: 130%;
  background-repeat: no-repeat;
  & > a > div {
    color: #FFF;
    background: rgba(111, 20, 23, .8)
  }
  @media (max-width: 600px) {
    background-color: rgba(255, 102, 102, .5);
    background-position: 10% -35px !important;
  }
}
.c2836 {
  background-image: url('/static/img/c2836.png');
  background-position: 50% 0%;
  background-size: 130%;
  background-repeat: no-repeat;
  & > a > div {
    color: #FFF;
    background: rgba(41, 65, 169, .8)
  }
  @media (max-width: 600px) {
    background: rgba(51, 204, 255, .5);
    background-position: center -35px !important;
  }
}
.c3745 {
  background-image: url('/static/img/c3745.png');
  background-position: -18% 0%;
  background-size: 130%;
  background-repeat: no-repeat;
  & > a > div {
    color: #FFF;
    background: rgba(30, 128, 33, .8)
  }
  @media (max-width: 600px) {
    background: rgba(153, 204, 51, .5);
    background-position: -40% -5px !important;
  }
}
.cloud {
  animation: cloudm 25s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.shime {
  z-index: 1;
  animation: shimeA 50s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cloudm {
  0% {
    transform: translateX(-120px);
  }
  25% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(120px);
  }
}
@keyframes shimeA {
  0% {
    transform: translateX(120px);
  }
  25% {
    transform: translateX(60px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(-120px);
  }
}
