.navbar {
  width: calc(60px + .5vw);
  height: calc(60px + .5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 90 !important;
  top: 3em;
  & > div {
    text-align: center;
    cursor: pointer;
    color: #FFF;
    text-shadow: 1px 1px 0 #888,
        -1px -1px 0 #888,
        1px -1px 0 #888,
        -1px 1px 0 #888,
        2px 2px 5px rgba(0,0,0,0.5);

    & > div:first-child {
      padding: 0;
      i {
        font-size: 2em;
        padding: .1em .1em;
        text-align: center;
      }
    }
    & > div:last-child {
      padding: 0;
      font-size: .8em;
    }
  }
  @media print {
    display: none !important;
  }
}
