.container {
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, .7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: auto;
  overflow: scroll;
  & > div:first-child {
    text-align: right;
    padding-top: 6em;
    i {
      padding: 0 1.2em;
      text-align: center;
      font-size: 3em;
      color: #FFF;
    }
  }
  & > div:last-child {
    display: flex;
    justify-content: center;
    padding: 1em;
  }
}
