.referencias {
  background: #f2f2f2;
  overflow-x: hidden;
  & > img {
    width: 101%;
  }
}

.header {
  font-size: 1em;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  & > div {
    padding: 1em;
    background: rgba(255, 255, 255, 0.7);
    max-width: 50em;
    margin: 0 auto;
    & > div {
      padding: 1em;
      border: 1px solid;
    }
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  @media (min-width:320px) and (max-width:736px){
    h1{
      font-size: 30px!important;
    }
    h2{
      font-size: 20px!important;
    }
  }
}

.cards {
  padding: .5 .5em 0 .5em;
  h2 {
    font-size: 1.5em;
    padding: .4em .4em;
    margin: 0
  }
  & > div {
    font-size: 0;
    width: 80%;
    margin: 0 auto;
    padding: calc(1em + 0.5vw);
    height: auto;
    clear: both;
    overflow: auto;
    & > div {
      float: left;
      width: calc(100% / 8);
      min-width: 100px;
    }
  }
  @media (min-width:320px) and (max-width:736px){
    h2{
      font-size: 20px!important;
    }
    div{
      div{
        width: calc(100% / 2)!important;
      }
    }
  }
}
.card {
  cursor: pointer;
}
.links {
  clear: both;
  padding: 0em 1em 4em 1em;
  h2 {
    font-size: 1.5em;
    padding: .4em .4em;
    margin: 0
  }
  & > div {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    & > a {
      img {
        width: calc(90px + 0.5vw);
        margin: 0 auto;
      }
      padding: 1em;
      text-decoration: none;
      & > div {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        h2 {
          font-size: calc(15px + .4vw);
          padding: 0;
          margin: 0;
          text-align: center;
        }
        p {
          margin: 0;
          padding: .2em 0;
          color: #666;
          font-size: 1.3em;
        }
      }
      &:hover {
        background: #f6f6f6;
        & > div > div:last-child {
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 900px) {
    & > div {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  @media (min-width:320px) and (max-width:736px){
    h2{
      font-size: 20px!important;
    }
  }
  @media (min-width:320px) and (max-width:375px){
    & > div{
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}

.linkContainer {
  padding: 1em 0;
  font-size: 1.2em;
}
.link {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  text-decoration: none !important;


  & > div {
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
  & > div:last-child {
    width: 100%;
  }
  &:hover {
    background: #eee;
  }
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.avisoLigas {
  text-align: center;
  padding: 1em;
}
