
.menulist {
  transition: all .5s ease-in .1s;
  background: rgba(217, 232, 176, .7);
  max-width: 1200px;
  margin: 1em auto;
  position: relative;
  z-index: 97;
  & > h2 {
    background: #3C8842;
    text-align: center;
    font-size: 4em;
    padding: .7em;
    margin: 0;
    color: #F2FFD5;
  }
  & > div {
    & > a {
      padding: 1em 2em;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5em;
        margin: 0 1em;
      }
      & > div {
        & > h3 {
          margin: 0;
          font-size: 1.7em;
          padding: 0 0 .2em 0;
        }
        & > p {
          font-size: 1.15em;
        }
        & > button {
          font-size: 1.3em;
          border: 0;
          padding: .2em .8em;
          min-width: 4em;
          border-radius: .5em;
          background: #33823C;
          color: #FFF;
        }

      }
      &:hover {
        background: #E9F2D1;
      }
    }
  }
}

.item {
  & > img {
    width: 5em;
  }
}

.itemText {
  width: 100%;
  padding: 0 1em;
}
