@font-face {
  font-family: "ClementePDak-SemiBold";
  src: url("/static/font/ClementePDak-SemiBold.eot?") format("eot"), url("/static/font/ClementePDak-SemiBold.woff") format("woff"), url("/static/font/ClementePDak-SemiBold.ttf") format("truetype"), url("/static/font/ClementePDak-SemiBold.svg#ClementePDak-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  background: #FFF;
}

.step0 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background-position: 95% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 50% !important;
  & > div {
    padding: calc(1em + 12vw) 2em 0 2em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    h1 {
      margin: 0 0 .3em 0;
      font-size: calc(3em + 0.5vw);
    }
    p {
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
      font-size: calc(14px + 0.5vw);
    }
    & > img {
      width: 100%;
    }
  }
  button {
    display: block;
    height: auto !important;
    margin: 1em auto 0 auto;
    padding: .3em 1em;
    border-radius: .5em;
    outline: 0;
    border: 0;
    color: #FFF;
    font-size: calc(16px + 0.8vw);
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    text-align: center;
  }
}

.clouds {
  width: 90%;
  left: 45%;
  margin-left: -45%;
  position: absolute;
  top: 50%;
  margin-top: -30%;
}
.bags {
  width: 60%;
  left: 45%;
  margin-left: -30%;
  position: absolute;
  top: 50%;
  margin-top: -30%;
}

.step1 {
  height: auto;
  width: 100%;
  min-height: 100%;
  padding: 12% 0 5% 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 75% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  & > h1 {
    font-size: 3em;
    margin: 0;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  & > div {
    width: 100%;
    padding: 1em;
    font-size: 2.3em;
    max-width: 35em;
    text-align: center;
    background: rgba(255, 255, 255, .8);
    border-radius: 1em;
  }
  button {
    display: block;
    height: auto !important;
    margin-top: 3em;
    font-size: 2em;
    padding: .3em 1em;
    border-radius: .5em;
    outline: 0;
    border: 0;
    background: #ED6C5C;
    color: #FFF;
  }
}
.step2 {
  height: auto;
  width: 100vw;
  min-height: 100%;
  color: #666;
  background: #F8F8F8;
  padding: 3em 0;
  & > h1 {
    font-size: calc(20px + 1.4vw);
    padding: 0;
    text-align: center;
  }
  & > div {
    display: flex;
    width: 100%;
    padding: 0;
    margin: auto;
  }
}
.optionsContainer {
  display: block !important;
  @media (max-width: 1024px) {
    width: 100%;
    padding: 0 !important;
  }
}
.instructions {
  padding: 0 .5em 0em .5em;
  width: 100%;
  text-align: center;
  font-size: calc(16px + .5vw);
  h3 {
    padding: 0;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}
.icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 906px;
  padding: 3em 0 0 0;
  margin: 0 auto;
  @media (min-width: 1400px) {
    max-width: 80% !important;
  }
  img {

  }
}
.icon {
  width: 25%;
  padding: .4em 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .5em;
  img {
    height: 8vw;
    width: 8vw;
  }
  &:hover {
    background: #eee;
  }
  & > div {
    padding: .2em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    button, a {
      text-decoration: none;
      font-size: 1em;
      width: 100%;
      background: none;
      border: none;
      outline: none;
      padding: .3em 0;
      @media (min-width:320px) and (max-width:414px){
        width: auto;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
  & > div:first-child {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: calc(16px + .4vw);
      height: 2em;
      padding: 0 .5em;
    }
  }
  @media (min-width: 1400px) {
    & > div {
      h2 {
        font-size: calc(16px + .3vw) !important;
      }
      button {
        font-size: calc(16px + .2.5vw) !important;
      }
    }
  }
  @media (max-width: 850px) {
    & > div {
      h2 {
        font-size: calc(16px + .1vw) !important;
        height: 3em !important;
      }
      button {
        font-size: 16px !important;
      }
    }
  }
  @media (max-width: 700px) {
    width: 100% !important;
    & > div {
      flex-direction: column;
      h2 {
        height: 2.6em !important;
      }
    }
  }
  @media (min-width:320px) and (max-width:735px){
    & > div {
      img{
        height: 30vw;
        width: 30vw;
      }
    }
  }
}
.selections {
  padding: 2em 0 !important;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  & > div {
    background: #FFF;
    border: 2px solid #925152;
    border-radius: 1em;
    width: calc((100vw / 6) - .6vw);
    height: calc((100vw / 6) + 7vw);
    margin: .5em .1vw;
    padding: 0;
    position: relative;
    & > div:first-child {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .2em .3em 0 .3em;
      width: 100%;
      h2 {
        font-size: 1.8em;
        margin: 0;
      }
      i {
        font-size: 1.9em;
        color: red;
        cursor: pointer;
      }

    }
    & > img {
      display: block;
      margin: 1em auto 0 auto;
    }
    h3 {
      margin: 0;
      padding: .5em .3em 0 .3em;
      font-size: 16px;
    }
  }
  @media (min-width: 1400px) {
    & > div {
      width: calc((100vw / 6) - 1vw) !important;
      height: calc((100vw / 6) + 5vw) !important;
      h2, i {
        font-size: calc(16px + 2vw) !important;
      }
      h3 {
        font-size: calc(16px + .7vw) !important;
      }
    }
  }
  @media (max-width: 850px) {
    flex-wrap: wrap;
    & > div {
      width: calc((100vw / 3) - .6vw) !important;
      height: calc((100vw / 3) + 7vw) !important;
    }
  }
  @media (max-width: 500px) {
    flex-wrap: wrap;
    & > div {
      width: calc((100vw / 2) - .6vw) !important;
      height: calc((100vw / 2) + 16.5vw) !important;
      h3 {
        font-size: calc(16px + 1.2vw) !important;
      }
    }
  }
  @media (max-width: 360px) {
    flex-wrap: wrap;
    & > div {
      width: calc(100vw - .6vw) !important;
      height: calc(100vw + 14vw) !important;
      h3 {
        font-size: calc(16px + 3vw) !important;
      }
    }
  }
}

.next {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h4 {
    padding: 0 3em;
  }
  & > button {
    margin-top: 1em;
    font-size: 2em;
    padding: .3em 1em;
    border-radius: .5em;
    outline: 0;
    border: 0;
    background: #ED6C5C;
    color: #FFF;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5em;
    }
  }
}

.calendar {
  position: fixed;
  background: rgba(0, 0, 0, .1);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  font-size: 1em !important;
  & > div {
    background: #FFF;
  }
  i, input, button {
    font-size: 1.2em;
  }
}
.step3 {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  padding: 3em 3em;
  margin-top: 2em;
  position: relative !important;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover;
  @media print {
    margin: 0 !important;
  }
}
.step3bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.step3container {
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: stretch !important;
  & > div {
    width: 100%;
    padding: 0 1em;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      width: 8.3vw !important;
      height: 8.3vw !important;
      top: 0;
      left: 0;
      position: absolute;
    }
    & > div {
      font-family: ClementePDak-SemiBold !important;
      text-align: center;
      padding: .5em 0;
      font-size: calc(14px + .8vw) !important;
      z-index: 99;
      strong {
        display: block;
      }
      p {
        padding: 0;
        margin: .2em 0 0 0;
      }
    }
  }
  @media print {
    & > div {
      color: red !important;
      print-color-adjust: exact;
      & > div {
        font-size: 12px !important;
        text-align: justify;
        p {

        }
      }
    }
  }
}

.imgContainer {
  width: 10vw !important;
  height: 10vw !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  & > img:first-child {
    width: 100% !important;
    height: 100% !important;
  }
  & > img:last-child {
    width: 90%;
    height: 90%;
    display: block;
    margin: 1vw;
  }
}

.step3Numberscontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative !important;
  width: calc(100% - (100% / 3.5));
  margin: 0 auto;
  & > img {
    width: 100% !important;
  }
}

.step3number {
  position: absolute;
  top: -2vw;
  left: -2vw;
  color: #fff;
  border-radius: 4vw;
  font-weight: bold;
  font-size: calc(16px + .5vw);
  text-align: center;
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.step3Line {
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 1vw;
  height: 4vw;
  img {
    display: block;
    margin: 0 auto;
  }
}

.addModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
  background: rgba(0, 0, 0, .2);
  & > div {
    width: 100%;
    max-width: 500px;
    border-radius: .4em;
    border: 1px solid #ddd;
    background: #FFF;
    padding: 1em 0;
    & > div:first-child {
      padding: 0 1em;
      font-size: 1em;
      text-align: center;
      font-weight: bold;
      img {
        width: 8em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
  @media (min-width:320px) and (max-width:414px){
    width: auto;
    overflow: auto;
    padding-top: 430px!important;
  }
}

.addBody {
  padding: 1.5em 1em 2em 1.5em;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5em 0;
    label {
      padding: 1em 0;
      display: block;
      font-weight: bold;
      width: 100%;
    }
    input {
      font-size: 16px;
      padding: .5em;
      border-radius: .4em;
      border: 1px solid #ddd;
      text-align: center;
    }
    textarea {
      width: 100%;
      border-radius: .4em;
      border: 1px solid #ddd;
      height: 4em;
      font-size: 16px;
    }
    button, a {
      text-decoration: none;
      border: 0;
      font-size: 1em;
      padding: .8em 1.5em;
      color: #FFF;
      margin: 0 .2em;
      border-radius: 5px;
    }
  }
}

.addBtns {
  width: 100%;
  text-align: center;
  padding:  0 0 1em 0;
  button {
    font-size: 1.2em;
    border: 0;
    padding: .4em .8em;
    border-radius: .4em;
    color: #FFF;
    background: #ca3c3c;
    &:last-child {
      margin-left: .4em;
      background: #0078e7
    }
  }
}

.fixedBtns {
  position: absolute;
  right: 1em;
  top: 1em;
  display: flex;
  button, a {
    display: block;
    font-weight: bold;
    font-size: 1em;
    padding: .7em 1em;
    border: 3px solid;
    background: none;
    border-radius: 3em;
    z-index: 99;
    margin-left: 1em;
    &:hover {
      background: #FFF !important;
    }
  }
  @media print {
    display: none;
  }
  @media (min-width:320px) and (max-width:768px){
    a, .printBtn{
      display: none;
    }
  }
}

.step3b {
  width: 100%;
  margin: 0 !important;
  padding: 45px 0 0 0 !important;
  overflow: hidden;
  position: relative;
  canvas {
    width: 100vw;
    height: 56.25vw;
    margin: 3em 0 !important;
    padding: 0 !important;
    @media (min-width:320px) and (max-width:768px){
      margin-top: 40px!important;
    }
  }
}

@media (min-width:320px) and (max-width:736px){
  .step0 div h1{
    font-size: 24px
  }
  .instructions h3{
    font-size: 24px;
  }
}
