.blog {
  width: 100%;
  padding: 0;
  overflow: hidden;
  color: #FFF;
  text-align: center;
  & > img {
    width: 100%;
    max-width: 20vw;
    display: block;
    margin: 0 auto 1vw auto;
  }
  h2 {
    margin: 0;
    padding: 0 0 .6em 0;
    text-align: center;
    display: none;
  }
  h3 {
    font-size: 1.4em;
    margin: 0;
    padding: 0 0 2em 0;
  }
  & > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    max-width: 1260px;
    & > a {
      margin-top: 1em;
      font-size: 2em;
      padding: .3em 1em;
      border-radius: .5em;
      outline: 0;
      border: 0;
      background: #88C227;
      color: #FFF;
    }
  }
  @media (max-width: 950px) {
    & > div {
      flex-wrap: wrap !important;
      margin: 0em auto;
    }
  }
}

.post {
  background: #FFF;
  color: #888;
  width: 100%;
  border-radius: 1em;
  margin-left: 1em;
  padding: .5em;
  a {
    color: #888;
    & > div {
      padding: 1em 0;
      h3 {
        color: #555;
        text-align: center;
        padding: 0;
        font-size: calc(16px + 0.2vw);
      }
      p {
        background: red;
        text-align: justify;
        font-size: calc(14px + 0.2vw);
      }
    }
  }
  &:first-child {
    margin-left: 0;
  }
  img {
    width: 100%;
  }
  @media (max-width: 950px) {
    margin: 1em 0 0 0 !important;
  }
}
