.destinos {
  background: #fff;
}
.header {
  font-size: 1em;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  & > div {
    padding: 1em;
    background: rgba(255, 255, 255, 0.7);
    max-width: 50em;
    margin: 0 auto;
    & > div {
      padding: 1em;
      border: 1px solid;
    }
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  @media (min-width:320px) and (max-width:736px){
    h1{
      font-size: 30px!important;
    }
    h2{
      font-size: 20px;
    }
  }
}
.cards {
  width: 100%;
  padding: 4em 1em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  cursor: pointer;
  & a {
    border-radius: .5em;
    color: #444;
    padding: 1.5em 1em;
    display: block;
    width: 20vw;
    text-align: center;
    text-decoration: none !important;
    & > div {
      img {
        display: block;
        width: 10em;
        margin: 0 auto;
      }
    }
    &:hover {
      background: #FAFAFA;
    }
  }
  img {
    height: 8vw;
  }
  p{
    text-align: justify;
  }
}

.item {
  background: #eee;
  & > div:first-child {
    text-align: left;
    position: absolute;
    i {
      padding: .5em;
      text-align: center;
      font-size: 3em;
      color: red;
    }
  }
  & > img {
    width: 100%;
  }
  h1 {
    font-size: 40px;
    padding: 2vw 1vw;
  }
  & > h1, & > h2 {
    margin: 0;
    text-align: center;
    padding: 0 0 1em 0;
  }
  table {
    padding: 2em 1em;
    th {
      text-align: center !important;
      padding: .5em;
      background: #ddd;
      margin: 0;
    }
    td {
      color: #666;
      padding: .5em;
      background: #eee;
      border: 1px solid #ddd;
    }
  }
  @media (min-width:320px) and (max-width:736px){
    h2{
      padding: 0 10px!important;
    }
  }
}

.textContainer {
  padding: 1em 3em 2em 3em;
  margin: 0 auto;
  font-size: 1.1em;
  img {
    width: 50%;
  }
  img{
    width: 50%;
    display: block;
    margin: 40px auto;
  }
  p {
    padding: 0 1em;
    text-align: justify;
  }
  ul {
    padding: 0 2.5em;
  }
  @media (min-width:320px) and (max-width:736px){
    padding: 1em .5em 3em;
    ul {
      padding: 0 0 0 40px;
    }
    img{
      width: 100%;
    }
  }
}

.links {
  padding: 1em 3em 3em 3em;
  font-size: 1.1em;
}

@media (min-width:320px) and (max-width:1024px){
  .cards a {
      width: 46vw;
      text-align: center;
      text-decoration: none !important;
      & > div {
        img {
          display: block;
          width: 9em;
          margin: 0 auto;
        }
      }
      img {
        height: 18vw;
      }
  }
}

@media (min-width:320px) and (max-width:568px){
  .cards a{
    width: 100%;
  }
  .cards h3{
    font-size: 20px;
  }
}
