.masonry {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.col {
  margin: 0px !important;
  padding: 0 !important;
  flex-shrink: 1;
  width: 100%;
  &:first-child {
  	margin-left: 0;
  }
  &:last-child {
  	margin-right: 0;
  }
}
