.container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  & > div {
    background: #88C227;
    height: auto;
    overflow: auto !important;
  }
}
.acontainer {
  position: relative;
  overflow: hidden;
}
.menulist {
  transition: all .3s ease-in .65s !important;
  background: rgba(217, 232, 176, .7);
  max-width: 90%;
  margin: 1em auto;
  position: relative;
  z-index: 97;
  & > h2 {
    background: #3C8842;
    text-align: center;
    font-size: calc(16px + 1vw);
    padding: .7em;
    margin: 0;
    color: #F2FFD5;
  }
  & > div {
    & > a {
      padding: 1.5vw 2vw;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5em;
        margin: 0 .1vw;
      }
      & > div {
        & > h3 {
          margin: 0;
          font-size: calc(15px + 1vw);
          padding: 0 0 .2em 0;
        }
        & > p {
          margin: 0;
          font-size: calc(14px + .6vw);
        }
        & > button {
          font-size: 1.3em;
          border: 0;
          padding: .2em .8em;
          min-width: 4em;
          border-radius: .5em;
          background: #33823C;
          color: #FFF;
        }

      }
      &:hover {
        background: #E9F2D1;
      }
    }
    & > a > div:first-child {
      width: 100%;
      background: red;
    }
  }
  @media (max-width: 900px) {
    max-width: 100% !important;
  }
  @media (max-width: 400px) {
    a {
      text-align: center;
      flex-direction: column;
    }
  }
}

.menulistHidden {
  transition: all 0s ease-in 0s !important;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
