
:global * {
  box-sizing: border-box !important;
  font-family: arial;
  font-family: 'Roboto', sans-serif !important;
  print-color-adjust: exact !important;
  color-adjust: exact !important;
}

:global body {
  background: #F2F2F2 !important;
  box-sizing: border-box;
  width: 100vw;
  padding: 46px 0 0 0;
  margin: 0;
  border: 0;
  outline: 0;

  overflow: auto;
}
:global body i {
  font-family: 'FontAwesome' !important;
}
.layoutContainer {
  font-family: arial;
  width: 100%;
  box-sizing: border-box;
  background: #282a2b;
  padding: 0;
  position: relative;
}
.contentWrapper {
  padding: 0 0 0 0;
  width: 100%;
  position: relative;
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #f39200;
}
